*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.topSection{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
}



.text{

    height: 50px;
    width: 300px;
    text-align: left;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 200px;
    margin-right: 10px;

}

.homeImage{
    width: 100%;
    height: 510px;
    margin-top: 90px;
}

ul{
    position: absolute;
    top: 5%;
    right: 5%;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

ul li a{
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
}

#log{
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    list-style: none;
}


  


.heading{
   margin-top: 40px;
    margin-left: 15px;
    padding: 20px;
}

.topic{
    
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
   

}
 .column{
    display: inline-block;
    width: 33%;
    padding: 15px;
 }


 .box-image{
    width: 400px;
    height: 250px;
  
   
    margin: 5px;
    float: left;
    padding: 30px;

 }

 .box-image img{
    width: 100%;
    height: auto;
 }

 .box-image:hover{
    transform: scale(1.1);
    z-index: 1;
 }

 .box-contents{
    
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    
 }

 .about-topic{
    font-size: 19px;
    font-weight: 300;
    padding: 20px;
    margin-top: 30px;
 }

 
.nav-box{
    border: 1px solid black;
    height: 70px;
     margin: auto;
     background-color: rgb(162, 0, 255);
     position: absolute;
     width: 100%;
}

.nav-bar{
    border: 3px solid black;
    height: 60px;
    
    margin-top: 10px;
    
}

.slideImage{
  
}

.border{

    height: 40px;
    position: absolute;
    position: relative;
    margin-top: 70px;
}

.size{
    margin-top: 80px;
    margin-left: 35px;
    font-size: 15px;
    font-size: 18px;
    font-weight: 500;

    font-family: 'Times New Roman', Times, serif;
}

.size:hover{
    background-color: rgb(192, 217, 255);
    padding: 7px;
    border-radius: 5px;
    transition: 0ms;
}



.searchBox{
    width: 750px;
    height: 40px;
    margin-left: 65px;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid black;
    
}

.move{
   
    color: white;
    font-size: 21px;
   
   margin-top: 18px;
 

}

#style{
    border: 1px solid white;
    padding: 6px;
    font-size: 17px;
    box-shadow: gainsboro;
    border-radius: 5px;
}

.bottomSection{
    margin: 50px, 80px, 80px, 80px;
}

.qs-heading{
    height: 43px;
    font-family: poppins;
    font-size: 30px;

    font-weight: bold;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-top: 50px;
    margin-left: 20px;
}

.qs-subheading{
    height: 25px;
    font-family: poppins;
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}

.qs-boxes-container{
    margin-top: 60px;

}

.qs-box{
    display: inline-block;
    width: 40%;
    margin-left: 90px;
}

.qs-box-contents{
    height: 160px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    margin-top: 30px;
}

.qs-image{
    width: 160px;
    height: 160px;
    margin: 0 29px 0 0;
}


.qs-item-heading{
    position: absolute;
    top: 0px;
    left: 190px;
    height: 25px;
    font-family: poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.qs-item-description{
    position: absolute;
    top: 50px;
    left: 190px;
    max-width: 190px;
    height: 25px;
    font-family: poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;

}